
<div class="container">
    <div class="d-flex justify-content-between">
       <div class="footer-list">
          <h2>Categories</h2>
          <ul class="list">
             <li><a href="/?category=Graphics+%26+Design">Graphics &amp; Design</a></li>
             <li><a href="/?category=Digital+Marketing">Digital Marketing</a></li>
             <li><a href="/?category=Writing+%26+Translation">Writing &amp; Translation</a></li>
             <li><a href="/?category=Video+%26+Animation">Video &amp; Animation</a></li>
             <li><a href="/?category=Music+%26+Audio">Music &amp; Audio</a></li>
             <li><a href="/?category=Programming+%26+Tech">Programming &amp; Tech</a></li>
             <li><a href="/?category=Business">Business</a></li>
             <li><a href="/?category=Lifestyle">Lifestyle</a></li>
             <li><a href="/?category=Sitemap">Sitemap</a></li>
          </ul>
       </div>
       <div class="footer-list">
         <h2>Learning section</h2>
         <ul class="list">
            <li><a href="/courses">Courses</a></li>
            <li><a href="/postTeacherApp" >Become a teacher</a></li>
            </li>
         </ul>
      </div>
       <div class="footer-list">
          <h2>Community</h2>
          <ul class="list">
             <li><a href="#">Invite a Friend</a></li>
             <li><a href="/become-a-seller">Become as Seller</a></li> 
             
          </ul>
       </div>
       <div class="footer-list">
         <h2>About</h2>
         <ul class="list">
            <li><a href="/about">About us</a></li>
            
         </ul>
      </div>
    </div>
    <div class="copyright">
       <div class="logo">
          <a href="/">
          <img src="/images/logo.jpg"  style="background-color:gray; image-resolution: 300dpi; height: 120px;">
          </a>
       </div>
       <p>© Copyright 2021 Reachable Work. All Rights Reserved
       </p>
    </div>
 </div> 
 