
<div class="container">
    <div class="d-flex justify-content-between">
       <div class="footer-list">
          <h2>Categories</h2>
          <ul class="list">
             <li><a href="/postedServices?category=Graphics+%26+Design">Graphics &amp; Design</a></li>
             <li><a href="/postedServices?category=Digital+Marketing">Digital Marketing</a></li>
             <li><a href="/postedServices?category=Writing+%26+Translation">Writing &amp; Translation</a></li>
             <li><a href="/postedServices?category=Video+%26+Animation">Video &amp; Animation</a></li>
             <li><a href="/postedServices?category=Music+%26+Audio">Music &amp; Audio</a></li>
             <li><a href="/postedServices?category=Programming+%26+Tech">Programming &amp; Tech</a></li>
             <li><a href="/postedServices?category=Business">Business</a></li>
             <li><a href="/postedServices?category=Lifestyle">Lifestyle</a></li>
             <li><a href="/postedServices?category=Sitemap">Sitemap</a></li>
          </ul>
       </div>
       <div class="footer-list">
         <h2>Learning section</h2>
         <ul class="list">
            <li><a href="/courses">Courses</a></li>
            <li><a href="/postTeacherApp" >Become a teacher</a></li>
            </li>
         </ul>
      </div>
       <div class="footer-list">
          <h2>Community Section</h2>
          <ul class="list">
             <li><a href="/article">Articles</a></li>
             <li><a href="/question">Questions</a></li> 
             
          </ul>
       </div>
       <div class="footer-list">
         <h2>About</h2>
         <ul class="list">
            <li><a href="/about">About us</a></li>
            
         </ul>
      </div>
    </div>
    <div class="copyright">
       <p>© Copyright 2021 Reachable Work. All Rights Reserved
       </p>
    </div>
 </div> 
 