
<div class="container">
    <div class="d-flex justify-content-between">
       <div class="footer-list">
          <h2>Categories</h2>
          <ul class="list">
             <li><a href="/?category=Graphics+%26+Design">Graphics &amp; Design</a></li>
             <li><a href="/?category=Digital+Marketing">Digital Marketing</a></li>
             <li><a href="/?category=Writing+%26+Translation">Writing &amp; Translation</a></li>
             <li><a href="/?category=Video+%26+Animation">Video &amp; Animation</a></li>
             <li><a href="/?category=Music+%26+Audio">Music &amp; Audio</a></li>
             <li><a href="/?category=Programming+%26+Tech">Programming &amp; Tech</a></li>
             <li><a href="/?category=Business">Business</a></li>
             <li><a href="/?category=Lifestyle">Lifestyle</a></li>
             <li><a href="/?category=Sitemap">Sitemap</a></li>
          </ul>
       </div>
       <div class="footer-list">
          <h2>About</h2>
          <ul class="list">
             <li><a href="#">Careers</a></li>
             <li><a href="#">Press &amp; News</a></li>
             <li><a href="#">Partnerships</a></li>
             <li><a href="#">Privacy Policy</a></li>
             <li><a href="#">Terms of Service</a></li>
             <li><a href="#">Intellectual Property Claims</a></li>
             <li><a href="#" target="_blank">Investor Relations</a></li>
          </ul>
       </div>
       <div class="footer-list">
          <h2>Learning section</h2>
          <ul class="list">
             <li><a href="/postTeacherApp" >Become a teacher</a></li>
            
          </ul>
       </div>
       <div class="footer-list">
          <h2>Community</h2>
          <ul class="list">
             <li><a href="#">Events</a></li>
             <li><a href="#">Blog</a></li>
             <li><a href="#">Forum</a></li>
             <li><a href="#">Community Standards</a></li>
             <li><a href="#">Podcast</a></li>
             <li><a href="#">Affiliates</a></li>
             <li><a href="#">Invite a Friend</a></li>
             <li><a href="/become-a-seller">Become as Seller</a></li> 
             <li><a href="" >Miver
                Elevate<small>Exclusive Benefits</small></a>
             </li>
          </ul>
       </div>
       <div class="footer-list">
          <h2>More From Miver</h2>
          <ul class="list">
             <li><a href="#">Miver
                Pro</a>
             </li>
             <li><a href="#">Miver
                Studios</a>
             </li>
             <li><a href="#">Miver
                Logo Maker</a>
             </li>
             <li><a href="#">Get Inspired</a></li>
             <li><a href="#">ClearVoice<small>Content Marketing</small></a></li>
             <li><a href="#">AND CO<small>Invoice Software</small></a></li>
             <li><a href="#">Learn<small>Online Courses</small></a></li>
          </ul>
       </div>
    </div>
    <div class="copyright">
       <div class="logo">
          <a href="/">
          <img src="/images/logo.svg">
          </a>
       </div>
       <p>© Copyright 2022 Miver. All Rights Reserved
       </p>
    </div>
 </div> 
 