</head>
<%- include('includesFreelancer/head.ejs') %>
</head>



<body>
    <h1>Some error occurred</h1>
    <p> Soemthing went wrong. We are working on fixing this.</p>
</body>

<%- include('includesFreelancer/end.ejs') %>
