<div class="container mt-5">
    <h3 class="my-3">Post your required service Here...  </h3>
    <form action="/postApp" method="POST"> 

        <input type="text" name="name" placeholder="Enter name" class="form-control" required>
        <input type="text" name="email" placeholder="Enter email" class="form-control" required>
        <input type="text" name="phoneNumber" placeholder="Enter phoneNumber" class="form-control" required>
        <input type="text" name="language" placeholder="Enter language" class="form-control" required>
        <input type="text" name="skills" placeholder="Enter skills" class="form-control" required>
    

<!--
        <div class="border-bottom p-3">
            <label>Choose a category:</label>
            <div class="row">
               <div class="form-group col-md-6">
                  <select name="skills" class="form-control" required>
                     <option selected>Select...</option>
                     <option>Graphics & Design</option>
                     <option>Digital Marketing</option>
                     <option>Writing & Translation</option>
                     <option>Video & Animation</option>
                     <option>Music & Audio</option>
                     <option>Programming & Tech</option>
                     <option>Business</option>
                     <option>Lifestyle</option>
                  </select>
               </div>
               
            </div>
         </div>
-->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="submit" value="Post" class="mt-5 btn btn-md btn-danger">
    </form>
</div>