<head>
    <%- include('../partials/teacherHeader.ejs') %>
  </head>
  <hr>
  

<div class="container">
<h2>Your Revenue is <b>$<%= revenue %></b></h2>

</div>
<hr>
<footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
  <%- include('../includesUser/end.ejs') %>