
      <!-- End Inner Header -->
      <!-- About -->
      <section class="py-5 bg-white">
         <div class="container">
            <div class="row align-items-center">
               <div class="pl-4 col-lg-5 col-md-5 pr-4">
                  <img class="rounded img-fluid" src="/images/logo.jpg" style="background-color:gray; image-resolution: 300dpi; height: 150px;" alt="Card image cap">
               </div>
               <div class="col-lg-6 col-md-6 pl-5 pr-5">
                  <h2 class="mb-5">The leading global marketplace for learning and instruction
                  </h2>
                  <h5 class="mt-2">Our Vision</h5>
                  <p>The businesses face a hard time and costly process finding a skilled employee to finish a job. from attracting the right candidate and competing with other companies for hiring a one to the training process.
                     Also, from the opposite point of view trying to find a job can be difficult too and the process of getting a job takes a long time and needs a lot of resources.
                     </p>
                  <h5 class="mt-4">Our Goal</h5>
                  <p>Our website main goal is addressing these concerns by adding value for both entrepreneurs and freelancers.
                     For entrepreneurs: On our website, hiring a talented freelancer can be simple and fast and with a significant less cost since they have access to a variety of digital solutions and a large pool of freelancers, they can choose the one that suits their budget, scope of work, and duration.
                     Also, there are no geographical boundaries, you are not limited by working with employees from the same area, you can work with a talented freelancer from any geographical region in timely manner.
                     For freelancers: instead of searching for customers or even building a website to market their services, in one place they will have access to the demands of the jobs from the entrepreneurs and the jobs will come to them.
                     In addition, the process of hiring will be easy, fast, and they can work freely at any time from home with a limited restriction.
                     As mentioned above for the entrepreneur even the freelancer is not limited by the geographical boundaries, he can work for anyone around the world rather than looking for a job in limited area.
                     </p>
               </div>
            </div>
         </div>
      </section>
      <!-- End About -->
      <!-- What We Provide -->
    
      <!-- End Trusted Agents -->
 
</html>