<form action="/customCart/<%= postedService._id %>" method="post">
    <button class="btn" type="submit" style="background-color: blue; color: white;">Add to Cart</button>
    <input type="hidden" name="postedServiceId" value="<%= postedService._id %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
</form>
