<head>
    <%- include('../partials/freelanceP.ejs') %>
  </head>
  <hr>
  

<div class="container">
<h2>Your Revenue is <b>$<%= revenue.money %></b></h2>

</div>
<hr>

  <%- include('../includesUser/end.ejs') %>

  <%- include('../partials/footer.ejs') %>